*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

header{
    background-image: url('images/bg-hero-desktop.svg');
    background-color: rgb(129, 224, 224);
    padding: 6em;
    padding-top: 3em;
    height: 80vh;
}

.top-header{
    display: flex;
    justify-content: space-between;
}

.Try-it{
    height: 3em;
    width: 10em;
    background-color: white;
    border-radius: 20px;
    border-color: transparent;
}

.top-header-img{
    height: 2em;
    width: auto;
}

.second-header{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.second-header-top{
    width: 48%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second-header-top h1{
    font-family: "Poppins";
    font-size: 40px;
}
.second-header-top p{
    font-family: "Poppins";
    font-size: 18px;
    margin-bottom: 2em;
}
.second-btn a{
    text-decoration: none;
}
.second-header-top .second-btn{
    height: 3em;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    font-family: "Poppins";
    border-radius: 20px;
    border-color: transparent;
    width: 40%;
}

.second-header-second{
    width: 45%;
    height: 40vh;
    /* margin-right: -5em; */
    display: flex;
    justify-content: end;
}

.second-header-img{
    height: 100%;
    width: auto;
}

main{
    padding: 4em 3em;
    padding-bottom: 11em;
    background-color: hsl(193, 100%, 96%);
    z-index: 1;
}
.main{
    overflow: hidden;
}

.top-main{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border: 3px solid rgb(228, 225, 225);
    border-radius: 10px;
    margin: 0.3em;
}
.top-main-top{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
    
}
.top-main-top h3{
    font-family: "Poppins";
    font-size: 40px;
}
.top-main-top p{
    font-family: "Poppins";
    font-size: 18px;
    margin-bottom: 2em;
}
.top-main-second{
    width: 40%;
}
.main-img{
    width: 50%;
    height: auto;
}
.top-main-second{
    display: flex;
    justify-content: center;
}

.second-main{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border: 3px solid rgb(228, 225, 225);
    border-radius: 10px;
    margin: 0.3em;
    margin-top: 3em;
}
.second-main-second{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2em;
}
.second-main-second h3{
    font-family: "Poppins";
    font-size: 40px;
}
.second-main-second p{
    font-family: "Poppins";
    font-size: 18px;
    margin-bottom: 2em;
}

.third-main{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    border: 3px solid rgb(228, 225, 225);
    border-radius: 10px;
    margin: 0.3em;
    margin-top: 3em;
}
div .ready{
    z-index: 2;
    background-color: white;
}
.ready {
    height: 11em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: hsl(193, 100%, 96%);
    width: 60%;
    border: 2px solid rgb(105, 101, 101);
    border-radius: 15px;
    border: 3px solid rgb(228, 225, 225);
    margin: auto;
    margin-top: 4em;
    z-index: 1;
    position: absolute;
    top: 1650px;
    /* top: 105rem; */
    left: 50%; /*Add this*/
    transform: translate(-50%, 0);
}
.ready h3{
    font-family: "Poppins";
    font-size: 20px;
}
.ready .get-started{
    height: 3em;
    width: 20em;
    margin-top: 3em;
    border-radius: 15px;
    border-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
    font-family: "Poppins";
    z-index: 1;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

footer{
    padding: 3em;
    padding-top: 10em;
    background-color: #00252E;
    z-index: 0;
    color: white;
}
.huddle-logo{
    margin-bottom: 2em;
}
.footer{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.top-footer{
    height: 15vh;
    width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gap{
    display: flex;
}
.second-footer{
    height: 15vh;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.third-footer{
    height: 15vh;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourth-footer{
    height: 15vh;
    width: 10em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.copyright{
    display: flex; 
    justify-content: flex-end; 
    margin-top: 2.3em;
}

@media screen and (max-width: 2560px){
    .ready{
        top: 2874px;
    }
}
@media screen and (max-width: 1440px){
    .ready{
        top: 1913px;
    }
    .second-header {
        display: flex;
        justify-content: space-between;
        margin-top: 11em;
    }
}
@media screen and (max-width: 1366px){
    .second-header {
        margin-top: 5em;
    }
    .second-header-top .second-btn {
        width: 56%;
    }
    .top-main-top p{
        font-size: 14px;
    }
    .second-main-second p{
        font-size: 14px;
    }
    .ready {
        top: 1543px;
    }
}
@media screen and (max-width: 1024px){
    .top-main-top h3 {
        font-family: "Poppins";
        font-size: 22px;
    }
    .second-main-second h3 {
        font-family: "Poppins";
        font-size: 22px;
    }
    .second-header{
        margin-top: 8em;
    }
    .second-header-img{
        height: 80%;
        width: auto;
    }
    .second-header-top h1{
        font-family: "Poppins";
        font-size: 30px;
    }
    .main-img{
        width: 100%;
    }
    .ready{
        top: 1717px;
    }
    .top-main{
        padding: 0.5em;
    }
    .second-main{
        padding: 0.5em;
    }
    .third-main{
        padding: 0.5em;
    }
}
@media screen and (max-width: 768px){
    main {
        padding: 4em 3em;
        padding-bottom: 8em;
        background-color: hsl(193, 100%, 96%);
        z-index: 1;
    }
    .top-main-top h3 {
        font-family: "Poppins";
        font-size: 18px;
    }
    .top-main-top p {
        font-family: "Poppins";
        font-size: 12px;
        margin-bottom: 2em;
    }
    .second-header {
        margin-top: 5em;
    }
    .second-header-top h1 {
        font-family: "Poppins";
        font-size: 22px;
    }
    .second-header-top p {
        font-family: "Poppins";
        font-size: 13px;
        margin-bottom: 2em;
    }
    .second-main-second h3 {
        font-family: "Poppins";
        font-size: 16px;
    }
    .second-main-second p {
    font-family: "Poppins";
    font-size: 12px;
    margin-bottom: 2em;
    }
    .second-header-top .second-btn {
        width: 70%;
    }
    .ready{
        height: 8em;
        width: 45%;
        top: 1308px;
    }
    .ready h3 {
        font-family: "Poppins";
        font-size: 18px;
    }
    footer{
        padding-top: 6em;
        font-size: 13px;
    }
    .top-footer-img{
        height: 28px;
    }
}
@media screen and (max-width: 425px){
    header{
        padding: 2em;
        height: 100vh;
    }
    .top-header{
        align-items: center;
    }
    .top-header-img{
        height: 24px;
    }
    .main-img {
        width: 227px;
    }
    .top-main{
        flex-direction: column-reverse;
        align-items: center;
    }
    .top-main-top{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.5em;
        margin-right: 1.5em;
        align-items: center;
        
    }
    .second-main{
        flex-direction: column;
        align-items: center;
    }
    .second-main-second{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 1.5em;
        margin-right: 1.5em;
        align-items: center;
    }
    .second-header{
        height: 80vh;
        flex-direction: column;
        align-items: center;
        margin-top: 3em;
        display: flex;
        justify-content: space-between;
    }
    .second-header-second{
        justify-content: center;
        margin-top: 2em;
    }
    .second-header-top{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }
    .second-header-top h1 {
        font-family: "Poppins";
        font-size: 30px;
    }
    .second-header-top p {
        font-family: "Poppins";
        font-size: 16px;
        margin-bottom: 2em;
    }
    .second-header-top .second-btn {
        width: 17em;
    }
    .third-main{
        flex-direction: column-reverse;
        align-items: center;
    }
    .ready {
        height: 8em;
        width: 70%;
        top: 1746px;
    }
    .ready h3 {
        font-family: "Poppins";
        font-size: 14px;
    }
    .ready .get-started{
        height: 33px;
        width: 13em;
        margin-top: 13px;
    }
    .footer{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
        flex-direction: column;
    }
    .top-footer{
        height: 15vh;
        width: 20em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    .second-footer{
        height: 7em;
        margin: 10px;
        justify-content: space-around;
        margin-bottom: 0px;
    }
    .third-footer{
        height: 7em;
        margin: 10px;
        justify-content: space-around;
        margin-top: 0px;
    }
    .fourth-footer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: auto;
    }
    .copyright{
        margin-top: 3px;
        justify-content: center;
    }
}